<div class="row">
  <h1>Introducción a CSS</h1>
  <p>Esta es una introducción a CSS para HTML.</p>
  <h2>Instrucciones</h2>
  <ol>
    <li>Editar los archivos <code>styles1.css</code> y <code>styles2.css</code>.</li>
    <li>Quitar el comentario de relación al archivo css indicado.</li>
  </ol>
  <hr>
</div>
<div class="row">
  <div class="col-sm-3">
    <h1>Tipografía</h1>
    <h2>Encabezados</h2>
  </div>
  <div class="col-sm-9">
    <div class="example">
      <div class="body">
        <h1>Título h1</h1>
        <h2>Título h2</h2>
        <h3>Título h3</h3>
        <h4>Título h4</h4>
        <h5>Título h5</h5>
        <h6>Título h6</h6>
      </div>
      <div class="info">Tipos de títulos</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <h2>Texto</h2>
  </div>
  <div class="col-sm-9">
    <div class="example">
      <div class="body">
        <p>Texto de prueba</p>
      </div>
      <div class="info">Texto normal</div>
    </div>
    <div class="example">
      <div class="body">
        <p>Texto de
          <mark>prueba</mark>
        </p>
      </div>
      <div class="info">Texto resaltado</div>
    </div>
    <div class="example">
      <div class="body">
        <p><s>Texto de prueba</s></p>
      </div>
      <div class="info">Texto tachado</div>
    </div>
    <div class="example">
      <div class="body">
        <p><u>Texto de prueba</u></p>
      </div>
      <div class="info">Texto subrayado</div>
    </div>
    <div class="example">
      <div class="body">
        <p><small>Texto de prueba</small></p>
      </div>
      <div class="info">Texto pequeño</div>
    </div>
    <div class="example">
      <div class="body">
        <p><strong>Texto de prueba</strong></p>
      </div>
      <div class="info">Texto en negrilla</div>
    </div>
    <div class="example">
      <div class="body">
        <p><em>Texto de prueba</em></p>
      </div>
      <div class="info">Texto en cursiva</div>
    </div>
    <div class="example">
      <div class="body">
        <blockquote>
          <p>Texto de prueba</p>
        </blockquote>
      </div>
      <div class="info">Texto en comillas</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <h2>Listas</h2>
  </div>
  <div class="col-sm-9">
    <div class="example">
      <div class="body">
        <ul>
          <li>Algo</li>
          <li>
            Otra lista anidada
            <ul>
              <li>Uno</li>
              <li>Dos</li>
              <li>Tres</li>
            </ul>
          </li>
          <li>Final</li>
        </ul>
      </div>
      <div class="info">Lista sin ordenar</div>
    </div>
    <div class="example">
      <div class="body">
        <ol>
          <li>Algo</li>
          <li>
            Otra lista anidada
            <ul>
              <li>Uno</li>
              <li>Dos</li>
              <li>Tres</li>
            </ul>
          </li>
          <li>Final</li>
        </ol>
      </div>
      <div class="info">Lista ordenada y sin ordenar anidada</div>
    </div>
    <div class="example">
      <div class="body">
        <ul class="list-inline">
          <li>Algo</li>
          <li>En medio</li>
          <li>Final</li>
        </ul>
      </div>
      <div class="info">Lista en una sola línea</div>
    </div>
  </div>
</div>
